<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>turbo broccoli</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript">
        
        //Converts a valid in_url String into a URL object and returns a split URL with each section of the URL retrievable via array indexing
        function splitURL(in_url) {
            return new URL(in_url).pathname.split('/');
        }
        //Tests in_string, if it is the same as in_forbiddenString then gets returned as "", else returns in_string
        function stringIsNot(in_forbiddenString, in_string) {
            if (in_string === in_forbiddenString)
                return "";
            else
                return in_string;
        }
        //Appends 'https://' before string in_url if not present
        function appendPrefixIfMissing(in_url) {
            if (!in_url.match(/^https?:\/\//))
                in_url = "https://" + in_url;
            return in_url;
        }
        //Caching functions
        function writeToCache(in_string) {
            if (typeof (Storage) !== "undefined") {
                ;//console.log("Wrote " + in_string); //Test
            }
            else
                console.log("Local storage not supported in this browser, model and dataset sources will not be cached.");
        }
        //To-do
        function deleteFromCache(in_string) {

        }
        //To-do
        function retrieveCache() {

        }
        //Model reference retrieval function
        function retrieveModel() {
            var modelURL = appendPrefixIfMissing(document.getElementById("modelURL").value);
            var split_modelURL = splitURL(modelURL);
            var dropdown = document.getElementById("modelDropdown");
            var option = document.createElement("option");
            if (split_modelURL.length == 2) {
                //non-community
                option.text = split_modelURL[1];
                option.value = split_modelURL[1];
                dropdown.add(option);
                writeToCache("model");
            }
            else if (split_modelURL.length == 3) {
                //community
                option.text = split_modelURL[1] + "/" + split_modelURL[2];
                option.value = split_modelURL[1] + "/" + split_modelURL[2];
                dropdown.add(option);
                writeToCache("model");
            }
            else {
                console.log("Invalid URL");
            }
        }
        //Dataset reference retrieval function
        function retrieveDataset() {
            var datasetURL = appendPrefixIfMissing(document.getElementById("datasetURL").value);
            var split_datasetURL = splitURL(datasetURL);
            var dropdown = document.getElementById("datasetDropdown");
            var option = document.createElement("option");
            if (split_datasetURL.length == 3) {
                //non-community
                option.text = split_datasetURL[2];
                option.value = split_datasetURL[2];
                dropdown.add(option);
                writeToCache("dataset");
            }
            else if (split_datasetURL.length == 4) {
                //community
                option.text = split_datasetURL[2] + "/" + split_datasetURL[3];
                option.value = split_datasetURL[2] + "/" + split_datasetURL[3];
                dropdown.add(option);
                writeToCache("dataset");
            }
            else {
                console.log("Invalid URL");
            }
        }
        //Obtain a reference to currently selected form values - used for Parameter display
        function retrieveCurrentSelection() {
            var selectedModel = stringIsNot("Select model", document.getElementById("modelDropdown").value);
            var selectedDataset = stringIsNot("Select dataset", document.getElementById("datasetDropdown").value);
            var selectedSubset = stringIsNot("", document.getElementById("subsetName").value);
            console.log("MODEL: " + selectedModel + "\tDATASET: " + selectedDataset + "\tSUBSET: " + selectedSubset);
        }

        //Param functions
        function changeParams() {
            //const data = [1, 2, 3, 4, 5]; 
            //const bleh = ["bleh", "bleh", 2];
            LabelArray = [
                [
                    //train_text_classification
                    ["label_names", "list"], 
                    ["keys", "list"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ], 
                [
                    //train_language_model_casual
                    ["block_size", "int"],
                    ["key", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ], 
                [
                    //train_language_model_masked
                    ["block_size", "int"],
                    ["key", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ], 
                [
                    //traing_token_classification
                    ["label_all_tokens", "bool"],
                    ["key", "string"],
                    ["tags", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                    
                ],
                [
                    //train_extractive_qa
                    ["max_length", "int"],
                    ["doc_stride", "int"],
                    ["context", "string"],
                    ["question", "string"],
                    ["answer", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ],
                [
                    //train_translation
                    ["max_input_length", "int"],
                    ["max_target_length", "int"],
                    ["src_lang", "string"],
                    ["target_lang", "string"],
                    ["tokenizer_src", "string"],
                    ["tokenizer_tgt", "string"],
                    ["prefix", "string"],
                    ["trans_pair", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ],
                [
                    //train_summarization
                    ["add_prefix", "bool"],
                    ["max_input_length", "int"],
                    ["max_target_length", "int"],
                    ["document", "string"],
                    ["summary", "string"],
                    ["train_size", "int"],
                    ["test_size", "int"]
                ]
                    
            ];
            
            //const LabelDatatypeArray = [
            //Called whenever dropdown menu of trianing types is added
            //https://stackoverflow.com/questions/1115310/how-can-i-add-a-class-to-a-dom-element-in-javascript

            //Remove children from params
            var params = document.getElementById("params");

            //var child = params.lastElementChild;  
            params.innerHTML = "";
            //while (child) { 
            //    params.removeChild(child); 
            //    child = params.lastElementChild; 
            //}
            var trainingRef = document.getElementById("TrainingType");

            var trainingSelect = trainingRef.selectedIndex;

            SelectedArray = [[trainingRef.selectedIndex, trainingRef.options[trainingRef.selectedIndex].text], LabelArray[trainingSelect]];
            //SelectedArray[0] = [trainingRef.selectedIndex, trainingRef.options[trainingRef.selectedIndex].text];
            //SelectedArray[1] = LabelArray[trainingSelect];

            for (let i = 0; i < LabelArray[trainingSelect].length; i++) {
                var newRow = newDiv(LabelArray[trainingSelect][i][0], LabelArray[trainingSelect][i][1]);
                params.appendChild(newRow);
            }
            console.log("Change Params");

            //var newDiv = document.createElement("div");
            //var newLabel = document.createElement("Label");
            //var newInput = document.createElement("Input");
            //newDiv.appendChild(newLabel);
            //newDiv.appendChild(newInput);
            //newLabel.innerHTML = "bleh";
            //params.appendChild(newDiv);
            //params.appendChild(newDiv("bleh"));

            //<label class="col-form-label">Per-device training batch size:</label>
            //          <input id="trainingBatchSize" name="param4value" type="number" onchange="retrieveCurrentSelection()" name="trainingBatchSize" id="trainingBatchSize" class="form-control"
            //              value="8" min="1">

            fetch('/fetchLabels', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ SelectedArray: SelectedArray })
            })
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }

        function newDiv(labelName, dataType) {
            var newDiv = document.createElement("div");
            var newLabel = document.createElement("Label");
            var newInput;

            switch (dataType) {
                case "int":
                case "float":
                    newInput = document.createElement("Input");
                    newInput.type = "number"
                    newInput.value = 0;
                    break;
                case "string":
                    newInput = document.createElement("Input");
                    break;
                case "bool":
                    newInput = document.createElement("Select");
                    var op1 = document.createElement("Option");
                    var op2 = document.createElement("Option");
                    op1.value = "True";
                    op1.text = "True";
                    op2.value = "False";
                    op2.text = "False";
                    newInput.appendChild(op1);
                    newInput.appendChild(op2);
                    break;
                case "list":
                    newInput = document.createElement("Input");
                    newInput.type = "number";
                    newInput.value = 0;

                    //var newInput = document.createElement("Input")
                    
                    break;
            }

            newDiv.appendChild(newLabel);
            newDiv.appendChild(newInput);
            newLabel.innerHTML = labelName;
            newInput.id = labelName;
            newInput.name = dataType;
            newInput.class = "form-control"
            //newInput.setAttribute("onchange", "changeParamValues()");
            newInput.setAttribute("onchange", "changeParamValues(this)");
            /*if (dataType == "list") {
                newInput.setAttribute("onchange", "listNumberSpecified(this)");
            } else {
                
            }*/
            return newDiv;
        }

        function changeParamValues(changedElement) {
            var index = document.getElementById("TrainingType").selectedIndex;

            ParamValues = new Array(LabelArray[index].length);
            
            if (changedElement.name == "list") {
                //Reset
                //while (changedElement.parentElement.lastElementChild) {

                //    myNode.removeChild(m.lastElementChild);
                //}
                var childrenList = changedElement.parentElement.children;
                for (var i = 0; i < childrenList.length; i++) {
                    var tempChild = childrenList[i];
                    console.log(tempChild.name);
                    if (tempChild.name == "tempListInput") {
                        tempChild.remove();
                        i--;
                    }
                }


                for (let i = 0; i < changedElement.value; i++) {
                    tempInput = document.createElement("input");
                    changedElement.parentElement.appendChild(tempInput);
                    tempInput.setAttribute("onchange", "changeParamValues(this)");
                    tempInput.id = changedElement.id + i.toString();
                    tempInput.name = "tempListInput"
                    
                    console.log(tempInput.id);
                }
            }

            for (let i = 0; i < LabelArray[index].length; i++) {
                //Checking for list stuff
                console.log(LabelArray[index][i][0]);
                if (LabelArray[index][i][1] == "list") {
                    var listRef = document.getElementById(LabelArray[index][i][0]);
                    if (listRef.value == 0) {
                        //List has size of 0, aka value of onne
                        ParamValues[i] = null;
                    } else {
                        var listValues = new Array(listRef.value);
                        for (let j = 0; j < listRef.value; j++) {
                            listValues[j] = document.getElementById(listRef.id + j.toString()).value;
                            console.log(listRef.id + j.toString());
                        }
                        ParamValues[i] = listValues;
                    }
                } else {
                    ParamValues[i] = document.getElementById(LabelArray[index][i][0]).value;
                }
                if (ParamValues[i] == "") {
                    ParamValues[i] = null;
                }
                //var newRow = newDiv(LabelArray[trainingSelect][i][0], LabelArray[trainingSelect][i][1]);
                //params.appendChild(newRow);
            }

            fetch('/fetchParamValues', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ParamValues: ParamValues })
            })
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        


        // const source = new EventSource("/output");
        // source.onmessage = function (event) {
        //     console.log('hi')
        //     const data = JSON.parse(event.data);
        //     console.log(data);
        // }
    
    </script>
</head>

<body data-bs-theme="dark">
    <h1>Turbo Brocoli</h1>
    <form method="POST">
        <div class="row">
            <div class="col-5">
                <div class="mb-3">
                    <div class="row">
                        <label for="model" class="form-label">Model:</label>
                        <div class="col-5">
                            <select id="modelDropdown" name="modelDropdown" class="form-select"
                                aria-label="Model select" onchange="retrieveCurrentSelection()" required>
                                <option value="" selected disabled hidden>Select model</option>
                                <option value="distilbert-base-uncased">distilbert-base-uncased</option>
                                <option value="bigscience/bloomz-560m">bigscience/bloomz-560m</option>
                                <option value="testModel_3">testModel_3</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" name="modelTextbox" id="modelURL" class="form-control"
                                placeholder="Enter Model URL">
                        </div>
                        <div class="col-3 d-grid gap-2">
                            <input type="button" name="modelTextbox" onclick="retrieveModel()" class="btn btn-primary"
                                value="Retrieve Model">
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="dataset" class="form-label">Dataset:</label>
                        <div class="col-5">
                            <select id="datasetDropdown" name="datasetDropdown" class="form-select"
                                aria-label="Dataset select" onchange="retrieveCurrentSelection()" required>
                                <option value="" selected disabled hidden>Select dataset</option>
                                <option value="rotten_tomatoes">rotten_tomatoes</option>
                                <option value="bigscience/xP3">bigscience/xP3</option>
                                <option value="testDataset_3">testDataset_3</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" name="datasetTextbox" id="datasetURL" class="form-control"
                                placeholder="Enter Dataset URL">
                        </div>
                        <div class="col-3 d-grid gap-2">
                            <input type="button" name="datasetTextbox" onclick="retrieveDataset()"
                                class="btn btn-primary" value="Retrieve Dataset">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="subset" class="form-label">Subset (if required):</label>
                            <input type="text" name="subsetTextbox" id="subsetName" class="form-control"
                                onchange="retrieveCurrentSelection();" placeholder="Enter Subset Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label for="Parameters" class="form-label">Parameters</label>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Epochs:</label>
                        <input id="epochs" name="param1value" type="number" onchange="retrieveCurrentSelection()"
                            name="epochs" id="epochs" class="form-control" value="1" min="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Learning Rate:</label>
                        <input id="learningRate" name="param2value" type="number" onchange="retrieveCurrentSelection()"
                            name="learningRate" id="learningRate" class="form-control" value="0.0001" step="0.0001"
                            min="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Limit dataset size:</label>
                        <select id="limitDatasetSize" name="param3value" id="limitDatasetSize"
                            onchange="retrieveCurrentSelection()" name="limitDatasetSize" class="form-select" required>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Per-device training batch size:</label>
                        <input id="trainingBatchSize" name="param4value" type="number"
                            onchange="retrieveCurrentSelection()" name="trainingBatchSize" id="trainingBatchSize"
                            class="form-control" value="8" min="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Per-device eval batch size:</label>
                        <input id="evalBatchSize" name="param5value" type="number" onchange="retrieveCurrentSelection()"
                            name="evalBatchSize" id="evalBatchSize" class="form-control" value="8" min="1">
                    </div>
                </div>
                <br>
                <!-- PEFT config -->
                <label for="peft" class="form-label">PEFT</label>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">PEFT type:</label>
                        <select id="peftType" name="peftType" name="peftType" id="peftType" class="form-select">
                            <option value="None" selected>None</option>
                            <option value="LoRA">LoRA</option>
                            <option value="IA3">IA3</option>
                            <!-- not implemented yet -->
                            <option value="Prompt tuning">Prompt tuning</option>
                            <option value="Multitask prompt tuning">Multitask prompt tuning</option>
                            <option value="P-tuning">P-tuning</option>
                            <option value="AdaLoRA">AdaLoRA</option>
                            <option value="Adaption prompt">Adaption prompt</option>
                            <option value="LoHa">LoHa</option>
                            <option value="LoKr">LoKr</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <label class="col-form-label">Training type</label>
                <select id="TrainingType" name="TrainingType" onchange="changeParams()" class="form-select" required>
                    <option value="train_text_classification">train_text_classification</option>
                    <option value="train_language_model_casual">train_language_model_casual</option>
                    <option value="train_language_model_masked">train_language_model_masked</option>
                    <option value="train_token_classification">train_token_classification</option>
                    <option value="train_extractive_qa">train_extractive_qa</option>
                    <option value="train_translation">train_translation</option>
                    <option value="train_summarization">train_summarization</option>
                </select>
                
            <div class="form-label" id="params">

            </div>
            <div class="row mt-3">
                <input type="submit" class="btn btn-primary" value="Submit">

            </div>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>